<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Livros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Livros</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let book of books">
      <ion-thumbnail slot="start">
        <img [src]="book.cover || 'assets/covers/placeholder.png'" alt="Capa" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ book.title }}</h2>
        <p>{{ book.author }}</p>
        <p>
          <ion-badge>{{ book.genre }}</ion-badge>
          <ion-badge>{{ book.year }}</ion-badge>
        </p>
        <p class="synopsis">{{ book.synopsis }}</p>
      </ion-label>

      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="toggleRead(book)">
          <ion-icon [name]="book.read ? 'checkmark-done' : 'book-outline'"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
