<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Livros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Livros</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label>Género</ion-label>
    <ion-select interface="popover" [(ngModel)]="selectedGenre" color="mybooks">
      <ion-select-option value="all">Todos</ion-select-option>
      @for (genre of genres; track genre) {
      <ion-select-option [value]="genre">{{ genre }}</ion-select-option>
      }
    </ion-select>
  </ion-item>

  <ion-segment [(ngModel)]="selectedStatus" color="mybooks">
    <ion-segment-button value="all">
      <ion-label>Todos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="read">
      <ion-label>Lidos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="unread">
      <ion-label>Por ler</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list>
    @for (book of filteredBooks; track book) {
    <ion-item button (click)="openDetail(book)">
      <ion-thumbnail slot="start">
        <img [src]="book.cover || 'assets/covers/placeholder.png'" alt="Capa" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ book.title }}</h2>
        <p>{{ book.author }}</p>
        <p>
          <ion-badge color="mybooks">{{ book.genre }}</ion-badge>
          <ion-badge color="mybooks">{{ book.year }}</ion-badge>
        </p>
        <p class="synopsis">{{ book.synopsis }}</p>
      </ion-label>

      <ion-buttons slot="end">
        <ion-button fill="clear" color="mybooks" (click)="toggleRead(book, $event)">
          <ion-icon [name]="book.read ? 'checkmark-done' : 'book-outline'"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    }
  </ion-list>
</ion-content>