<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sobre Mim
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sobre Mim</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <img [src]="fotografia" alt="Fotografia do autor" />

    <ion-card>
      <ion-card-content>
        <h2>Nome</h2>
        <p>{{ nome }}</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <h2>Data de nascimento</h2>
        <p>{{ dataNascimento }}</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <h2>Naturalidade</h2>
        <p>{{ naturalidade }}</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <h2>Breve biografia</h2>
        <p class="bio-text">{{ biografia }}</p>
        <br>
        <p class="bio-text">{{ experiencia }}</p>
        <br>
        <p class="bio-text">{{ interesses }}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>