<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Favoritos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="favorites.length; else noFavorites">
    <ion-item *ngFor="let book of favorites" button (click)="openDetail(book)">
      <ion-thumbnail slot="start">
        <img [src]="book.cover || 'assets/covers/placeholder.png'" alt="Capa" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ book.title }}</h2>
        <p>{{ book.author }}</p>
        <p>
          <ion-badge color="mybooks">{{ book.genre }}</ion-badge>
          <ion-badge color="mybooks">{{ book.year }}</ion-badge>
        </p>
      </ion-label>

      <ion-buttons slot="end">
        <ion-button fill="clear" color="mybooks" (click)="toggleFavorite(book, $event)">
          <ion-icon name="heart"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ng-template #noFavorites>
    <div class="ion-padding">
      <ion-text color="medium">Sem livros favoritos.</ion-text>
    </div>
  </ng-template>
</ion-content>